name: Update Docker Hub Description

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - README.md
      - .github/workflows/docker-hub-description.yml

env:
  IMAGE: ${{ github.repository }}

jobs:
  update-description:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: README.md

      - name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ env.IMAGE }}